// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

//$header-bg: #263347;
//$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
//$nav-bg-front: image-url('noise.png');
//$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);
//$footer-bg: #ccc !default;
//$footer-bg-front: image-url('noise.png');
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));


/* To use the light Solarized highlighting theme uncomment the following line */
$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          #002b36; //darkest blue
//$base02:          #073642; //dark blue
//$base01:          #586e75; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
//$base1:           #93a1a1; //medium light gray
//$base2:           #eee8d5; //cream
//$base3:           #fdf6e3; //white
//$solar-yellow:    #b58900;
//$solar-orange:    #cb4b16;
//$solar-red:       #dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #6c71c4;
//$solar-blue:      #268bd2;
//$solar-cyan:      #2aa198;
//$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;

.category-coding a, .category-coding a:visited,
#blog-archives.category-coding h1 a,
li.post.category-coding > a, li.post.category-coding > a:visited
{
  color: #20bb20 !important;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: color, background;
  text-decoration: none;
}

.category-coding a:hover,
#blog-archives.category-coding h1 a:hover,
li.post.category-coding > a:hover
{
  color: #0A7A0A !important;
  text-decoration: none;
}

#content .blog-index .category-coding a[rel="full-article"]:hover
{
  color: #fff !important;
  background-color: #20bb20;
}

.category-other a, .category-reviews a:visited,
#blog-archives.category-other h1 a,
li.post.category-other > a, li.post.category-reviews > a:visited
{
  color: #c00 !important;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: color, background;
  text-decoration: none;
}

.category-other a:hover,
#blog-archives.category-other h1 a:hover,
li.post.category-other > a:hover

{
  color: #850000 !important;
  text-decoration: none;
}

#content .blog-index .category-other a[rel="full-article"]:hover
{
  color: #fff !important;
  background-color: #c00;
}

.category-technology a, .category-technology a:visited,
#blog-archives.category-technology h1 a,
li.post.category-technology > a, li.post.category-technology > a:visited

{
  color: #e66f00 !important;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: color, background;
  text-decoration: none;
}

.category-technology a:hover,
#blog-archives.category-technology h1 a:hover,
li.post.category-technology > a:hover
{
  color: #964800 !important;
  text-decoration: none;
}

#content .blog-index .category-technology a[rel="full-article"]:hover
{
  color: #fff !important;
  background-color: #e66f00;
}

.category-reviews a, .category-reviews a:visited,
#blog-archives.category-reviews h1 a,
li.post.category-reviews > a, li.post.category-reviews > a:visited
{
  color: #004DFF !important;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: color, background;
  text-decoration: none;
}

.category-reviews a:hover,
#blog-archives.category-reviews h1 a:hover,
li.post.category-reviews > a:hover
{
  color: #0032A6 !important;
  text-decoration: none;
}

#content .blog-index .category-reviews a[rel="full-article"]:hover
{
  color: #fff !important;
  background-color: #004DFF;
}

.category-links a, .category-links a:visited,
#blog-archives.category-links h1 a,
li.post.category-links > a, li.post.category-links > a:visited

{
  color: #a050bb !important;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: color, background;
  text-decoration: none;
}

.category-links a:hover,
#blog-archives.category-links h1 a:hover,
li.post.category-links > a:hover
{
  color: #621A7A !important;
  text-decoration: none;
}

#content .blog-index .category-links a[rel="full-article"]:hover
{
  color: #fff !important;
  background-color: #a050bb;
}

